- Investigate 1st and 2nd order differences in cases and deaths $x$ days after some policy was implemented

In [5]:

import pandas as pd
from datetime import datetime as dt
from datetime import timedelta
import numpy as np
from covid_project import data_cleaning as dc
from covid_project.diffs import calculate_diffs, generate_state_case_dict
from tqdm.notebook import tqdm
import warnings
import matplotlib.pyplot as plt
import os

Uncomment the cell below and run this script if running this project from scratch (should take about 30 minutes)

In [6]:
# !python scripts/differencing.py

Build a master dataset of all diffs

In [8]:
diffs_df = pd.concat([pd.read_csv(os.path.join("data", "diffs", e)) for e in os.listdir("./data/diffs/")])

In [9]:
diffs_df

,Unnamed: 0,state,policy_level,date,policy_type,start_stop,county,fips_code,case_9_day_order_1,case_9_day_order_2,...,death_28_day_order_1,death_28_day_order_2,case_16_day_order_1,case_16_day_order_2,death_16_day_order_1,death_16_day_order_2,case_22_day_order_1,case_22_day_order_2,death_22_day_order_1,death_22_day_order_2
0,1,Mississippi,county,2020-07-20,outdoor and recreation,stop,sunflower,28133,2.148349,0.477411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,Missouri,state,2020-06-15,non-essential businesses,stop,statewide,29,4.587782,0.104569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,Georgia,county,2020-04-30,childcare (k-12),stop,fulton,13121,1.146881,0.122647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,Missouri,county,2020-05-31,entertainment,stop,jackson,29095,-0.356935,0.051220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Missouri,state,2021-08-31,mask requirement,stop,statewide,29,-9.513745,0.653029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3642,4213,Illinois,county,2021-01-15,houses of worship,start,cass,17017,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-29.372286,-0.308653,0.000000,0.000000
3643,4214,New York,county,2020-06-08,non-essential businesses,start,new york,36061,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.341199,0.004733,-0.255440,-0.003146
3644,4215,Texas,county,2020-07-03,mask requirement,start,morris,48343,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.207341,-0.106100,0.000000,0.000000
3645,4216,Maine,county,2020-05-18,outdoor and recreation,start,piscataquis,23021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
3646,4217,West Virginia,state,2020-03-19,food and drink,start,statewide,54,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.411877,-0.005850,0.018494,0.000000